body{
    font-family: 'Roboto', sans-serif;
    background:#0e0e0e;
    justify-content: center;
    height: 100vh;
}
.outerdiv{
    background: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 52.2vw;
}
 .ig-post{
     background:white;
     flex-direction: column;
     height: 600px;
     width:432px;
 }
.flex{
  display: flex;
}
.header{
    justify-content: space-between;
    padding: 10px;
 }
.h-icon{
    font-size: 26px;
    margin-right: 10px;
}
.h-title{
    flex-direction: column;
    font-size: 14.5px;
}
.h-title p{
    margin: 0;
}
.h-ellipsis{
      justify-content:flex-end;
      font-size:27px;
}
 .image img{
   
     width:432px;
     height:328px;
 }
.icons{
    flex-direction: row;
    justify-content:space-between;
    padding: 10px;
}
.icons i{
    font-size: 29px;
}
.bookmark{
    justify-content: flex-end;
}
.bookmark i{
    font-size:30px;
}
.text{
    padding: 10px;
    font-size: 14px;
}

    


